<%- include('./partials/header') %>

  <h1><center>Welcome to Super Team Picker!<center></h1>
  <img src="https://media.giphy.com/media/7u8SK4p1Cny2Q/giphy.gif" class="col-12" alt="">
  <h3><center>The official team picker site of Air Bud!**<center></h3>
  <p><center>Not the official team picker site of Air Bud<center></p>

<%- include('./partials/footer') %>
